.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
body
{
	font-family: 'Roboto', sans-serif;    font-size: 12px;
}
table,.form-control {
    font-size: 12px;
}

#logo {
	position:absolute;
	    width: 100px;
}
#menu
{
	background:url(../images/bg.jpg) no-repeat;
    background-size: cover;
	
}

.navbar-toggle {
    background: #fff;
}
.navbar-toggle .icon-bar {

    background: #333;
}

.btn-file {
    position:absolute;
	z-index:2;top:0;left:0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
	background-color:transparent;
	color:transparent;
}
.actionButton
{
	margin-top:23px;
	min-width:70px;
}
.uploadBtn, .uploadBtn>*
{
	margin-top: 23px;
}
.page-header *
{
	margin:0;
	color: #7d6c45;    font-size: 24px;
}
.productThumb
{
	height:125px;
	
}

h3 {
  margin-top: 0;
}

.badge {
  background-color: #777;
}

.tabs-left { margin-top: 3rem; }

.nav-tabsV {
  float: left;
  border-bottom: 0;
}

 .nav-tabsV li {
    float: none;
    margin: 0;
	    margin-bottom: 2px;
  } 
  .nav-tabsV li  a {
      margin-right: 0;
      border: 0;
          background:  #e0e0e0;   border-radius: 3px 0 0 3px;
		  color:#333;
  }
  
   .nav-tabsV li  a:hover {
        background-color: #ccc;
      }
   
  .glyphicon {
    color: #333;
  }
  
  .active .glyphicon {
    color: #fff;
  }

.nav-tabs
{border:none;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
  
}
.nav-tabsV > li.active > a, .nav-tabsV > li.active > a:hover, .nav-tabsV > li.active > a:focus {
	
		  background: url(../images/bg.jpg);
		  color:#000;
	  }

.tab-contentV {
  margin-left: 45px;
}
.tab-contentV  .tab-pane {
	border-left: 1px solid #a48e5d;	padding-top: 0;	min-height:500px;padding-bottom: 100px;
}
.tab-content  .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;   
  }
  
.tab-content  .active { display: block; }


.list-group {
  width: 100%;
} 
 .list-group .list-group-item {
    height: 50px;
 }
 
 .list-group  h4, .list-group span {
      line-height: 11px;
    }

.pagination
{
	display:block;
}

.tableArea
{
	margin-top:50px;
}

.table > thead > tr > th {
    border-bottom: none;
    font-weight: normal;
    color: #7d6c45;
}
.staffThumb
{
	width:100%;
	border-radius:50%;
	padding:10px;
}
.staffInfo{
padding-bottom:10px;
margin-bottom:10px;
}
.activeStaff{
	background:url(../images/bg.jpg);
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #a89260 0%, #a89260 100%);
    background-image: -o-linear-gradient(top, #a89260 0%, #a89260 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a89260), to(#a89260));
    background-image: linear-gradient(to bottom, #a89260 0%, #a89260 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a89260', endColorstr='#a89260', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #a89260;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #6d6041;
    background-position: 0 35px;
}

.navV > li > a:hover, .navV > li > a:focus {
    text-decoration: none;
    background-color: #6d6041;
    color: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 0;
    border-bottom: 2px solid #7d6c45;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
     background-color: #6d6041; 
    /* color: #fff; */
}
.navbar-brand, .navbar-nav > li > a {
    padding: 15px;
    color: #fff;
    font-size: 15px;
}
tspan {
    font-weight: normal;
}